<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cruises</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <h5>|Cruise|</h5>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/}" class="nav-link" aria-current="page" th:text="#{main.button.home}"></a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link" th:text="#{main.button.contacts}"></a></li>
                <li class="nav-item"><a th:href="@{/catalog/1?sorting=standard}" class="nav-link" th:text="#{main.button.catalog}"></a></li>
                <li class="nav-item"><a th:href="@{/profile}" class="nav-link active" th:text="#{main.button.profile}"></a></li>
                <li class="nav-item"><a href="/CruiseLiner/logout" class="nav-link" th:text="#{main.button.logout}"></a></li>
                <li class="nav-item"><a th:href="@{/login}" class="nav-link" th:text="#{main.button.login}"></a></li>
                <li class="nav-item"><a th:href="@{/signup}" class="nav-link" th:text="#{main.button.signup}"></a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/profile}" class="nav-link" aria-current="page" th:text="#{profile.button.myProfile}"></a></li>
            <li class="nav-item"><a th:href="@{/requests/1}" class="nav-link" th:text="#{profile.button.requests}"></a></li>
            <li class="nav-item"><a th:href="@{/cruises/1}" class="nav-link" th:text="#{profile.button.cruises}"></a></li>
            <li class="nav-item"><a th:href="@{/liners/1}" class="nav-link" th:text="#{profile.button.liners}"></a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h6 class="front-weight-bold blue-text">
        <a th:href="@{/cruises/createCruise}">
            <strong><span th:text="#{cruises.button.createNew}"></span></strong>
        </a>
    </h6>
    <table class="table table-bordered">
        <tr>
            <th th:text="#{cruises.label.name}"></th>
            <th th:text="#{cruises.label.regions}"></th>
            <th th:text="#{cruises.label.liner}"></th>
            <th th:text="#{cruises.label.startDay}"></th>
            <th th:text="#{cruises.label.finishDay}"></th>
            <th th:text="#{cruises.label.fromPort}"></th>
            <th th:text="#{cruises.label.toPort}"></th>
            <th th:text="#{cruises.label.days}"></th>
            <th th:text="#{cruises.label.description}"></th>
            <th th:text="#{cruises.label.actions}"></th>
        </tr>
        <tr th:each="cruise : ${cruises}">
            <td><span th:text="${cruise.name}"></span></td>
            <td><span th:text="${cruise.regions}"></span></td>
            <td><span th:text="${cruise.liner}"></span></td>
            <td><span th:text="${cruise.startDay}"></span></td>
            <td><span th:text="${cruise.finishDay}"></span></td>
            <td><span th:text="${cruise.fromPort}"></span></td>
            <td><span th:text="${cruise.toPort}"></span></td>
            <td><span th:text="${cruise.days}"></span></td>
            <td><span th:text="${cruise.description}"></span></td>
            <td>
                <form th:method="GET" th:action="@{/cruises/update}">
                    <input type="hidden" th:value="${cruise.name}" name="name">
                    <input type="hidden" th:value="${cruise.regions}" name="regions">
                    <input type="hidden" th:value="${cruise.liner}" name="liner">
                    <input type="hidden" th:value="${cruise.startDay}" name="startDay">
                    <input type="hidden" th:value="${cruise.finishDay}" name="finishDay">
                    <input type="hidden" th:value="${cruise.fromPort}" name="fromPort">
                    <input type="hidden" th:value="${cruise.toPort}" name="toPort">
                    <input type="hidden" th:value="${cruise.days}" name="days">
                    <input type="hidden" th:value="${cruise.description}" name="description">
                    <button class="btn-primary" type="submit"><span th:text="#{cruises.button.update}"></span></button>
                </form>
                <form th:method="POST" th:action="@{/cruises/delete}">
                    <input type="hidden" th:value="${cruise.name}" name="name">
                    <input type="hidden" th:value="${cruise.regions}" name="regions">
                    <input type="hidden" th:value="${cruise.liner}" name="liner">
                    <input type="hidden" th:value="${cruise.startDay}" name="startDay">
                    <input type="hidden" th:value="${cruise.finishDay}" name="finishDay">
                    <input type="hidden" th:value="${cruise.fromPort}" name="fromPort">
                    <input type="hidden" th:value="${cruise.toPort}" name="toPort">
                    <input type="hidden" th:value="${cruise.days}" name="days">
                    <input type="hidden" th:value="${cruise.description}" name="description">
                    <button class="btn-primary" type="submit"><span th:text="#{requests.button.delete}"></span></button>
                </form>
            </td>
        </tr>
    </table>
    <nav aria-label="Navigation for requests">
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-1">
                    <a th:if="${currentPage > 1}" th:href="@{'/cruises/' + ${currentPage - 1}}"><span th:text="#{catalog.button.previous}"></span></a>
                    <span th:unless="${currentPage == 1}"></span>
                </div>
                <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/cruises/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/cruises/' + ${currentPage + 1}}"><span th:text="#{catalog.button.next}"></span></a>
                    <span th:unless="${currentPage < totalPages}"></span>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>