<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <h5>|Cruise|</h5>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/CruiseLiner}" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link">Contacts</a></li>
                <li class="nav-item"><a th:href="@{/catalog}" class="nav-link">Catalog</a></li>
                <li class="nav-item"><a th:href="@{/profile}" class="nav-link active">Profile</a></li>
                <li class="nav-item"><a href="/CruiseLiner/logout" class="nav-link">Logout</a></li>
                <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a></li>
                <li class="nav-item"><a th:href="@{/signup}" class="nav-link">Sign up</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/profile}" class="nav-link" aria-current="page">My profile</a></li>
            <li class="nav-item"><a th:href="@{/requests}" class="nav-link">Requests</a></li>
            <li class="nav-item"><a th:href="@{/cruises}" class="nav-link">Cruises</a></li>
            <li class="nav-item"><a th:href="@{/liners}" class="nav-link">Liners</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h6 class="front-weight-bold blue-text">
        <a th:href="@{/liners/createLiner}">
            <strong>Create liner</strong>
        </a>
    </h6>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Built</th>
            <th>Room count</th>
            <th>Max people</th>
            <th>Class</th>
            <th>Room inner price</th>
            <th>Room with window price</th>
            <th>Room with balcony price</th>
            <th>Room luxury price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="liner : ${liners}">
            <td><span th:text="${liner.name}"></span></td>
            <td><span th:text="${liner.built}"></span></td>
            <td><span th:text="${liner.roomCount}"></span></td>
            <td><span th:text="${liner.maxPeople}"></span></td>
            <td><span th:text="${liner.clazz}"></span></td>
            <td><span th:text="${liner.roomInner}"></span></td>
            <td><span th:text="${liner.roomWithWindow}"></span></td>
            <td><span th:text="${liner.roomWithBalcony}"></span></td>
            <td><span th:text="${liner.roomLuxury}"></span></td>
            <td>
                <form th:method="GET" th:action="@{/liners/update}">
                    <input type="hidden" th:value="${liner.name}" name="name">
                    <input type="hidden" th:value="${liner.built}" name="built">
                    <input type="hidden" th:value="${liner.roomCount}" name="roomCount">
                    <input type="hidden" th:value="${liner.maxPeople}" name="maxPeople">
                    <input type="hidden" th:value="${liner.clazz}" name="clazz">
                    <input type="hidden" th:value="${liner.roomInner}" name="roomInner">
                    <input type="hidden" th:value="${liner.roomWithWindow}" name="roomWithWindow">
                    <input type="hidden" th:value="${liner.roomWithBalcony}" name="roomWithBalcony">
                    <input type="hidden" th:value="${liner.roomLuxury}" name="roomLuxury">
                    <button class="btn-primary" type="submit">Update</button>
                </form>
                <form th:method="POST" th:action="@{/liners/delete}">
                    <input type="hidden" th:value="${liner.name}" name="name">
                    <input type="hidden" th:value="${liner.built}" name="built">
                    <input type="hidden" th:value="${liner.roomCount}" name="roomCount">
                    <input type="hidden" th:value="${liner.maxPeople}" name="maxPeople">
                    <input type="hidden" th:value="${liner.clazz}" name="clazz">
                    <input type="hidden" th:value="${liner.roomInner}" name="roomInner">
                    <input type="hidden" th:value="${liner.roomWithWindow}" name="roomWithWindow">
                    <input type="hidden" th:value="${liner.roomWithBalcony}" name="roomWithBalcony">
                    <input type="hidden" th:value="${liner.roomLuxury}" name="roomLuxury">
                    <button class="btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>