<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <h5>|Cruise|</h5>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/}" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link">Contacts</a></li>
                <li class="nav-item"><a th:href="@{/catalog}" class="nav-link">Catalog</a></li>
                <div class="float" sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/profile}" class="nav-link">Profile</a></li>
                    <li class="nav-item"><a href="/CruiseLiner/logout" class="nav-link">Logout</a></li>
                </div>
                <div class="float" sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/login}" class="nav-link active">Login</a></li>
                    <li class="nav-item"><a th:href="@{/signup}" class="nav-link">Sign up</a></li>
                </div>
            </ul>
        </div>
    </header>
</div>
<div class="container-fluid d-flex h-75 justify-content-center align-items-center p-0">
    <form th:method="POST" th:action="@{/login}" th:object="${user}">
        <div class="container">
            <div class="form-floating">
                <input type="text" th:field="*{login}" placeholder="Input login"/>
            </div>
            <div class="form-floating">
                <input type="text" th:field="*{password}" placeholder="Input password"/>
            </div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>