<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <h5>|Cruise|</h5>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/CruiseLiner}" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link">Contacts</a></li>
                <li class="nav-item"><a th:href="@{/catalog}" class="nav-link">Catalog</a></li>
                <li class="nav-item"><a th:href="@{/profile}" class="nav-link active">Profile</a></li>
                <li class="nav-item"><a href="/CruiseLiner/logout" class="nav-link">Logout</a></li>
                <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a></li>
                <li class="nav-item"><a th:href="@{/signup}" class="nav-link">Sign up</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/profile}" class="nav-link" aria-current="page">My profile</a></li>
            <li class="nav-item"><a th:href="@{/requests}" class="nav-link">Requests</a></li>
            <li class="nav-item"><a th:href="@{/cruises}" class="nav-link">Cruises</a></li>
            <li class="nav-item"><a th:href="@{/liners}" class="nav-link">Liners</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Login</th>
            <th>Cruise</th>
            <th>Price</th>
            <th>Count people</th>
            <th>Status</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        <tr th:each="userRequest : ${userRequests}">
            <td><span th:text="${userRequest.login}"></span></td>
            <td><span th:text="${userRequest.cruiseName}"></span></td>
            <td><span th:text="${userRequest.price}"></span></td>
            <td><span th:text="${userRequest.countPeople}"></span></td>
<!--            <td><span th:text="${userRequest.status}"></span></td>-->
            <td>
                <form th:method="POST" th:action="@{/requests}">
                    <select th:value="${userRequest.status}" name="status">
                        <span th:if="${userRequest.status == 'created'}">
                            <option hidden th:value="'created'" th:text="'created'"></option>
                            <option th:value="'available'" th:text="'available'"></option>
                            <option th:value="'paid'" th:text="'paid'"></option>
                            <option th:value="'finished'" th:text="'finished'"></option>
                        </span>
                        <span th:if="${userRequest.status == 'available'}">
                            <option hidden th:value="'available'" th:text="'available'"></option>
                            <option th:value="'created'" th:text="'created'"></option>
                            <option th:value="'paid'" th:text="'paid'"></option>
                            <option th:value="'finished'" th:text="'finished'"></option>
                        </span>
                        <span th:if="${userRequest.status == 'paid'}">
                            <option hidden th:value="'paid'" th:text="'paid'"></option>
                            <option th:value="'created'" th:text="'created'"></option>
                            <option th:value="'available'" th:text="'available'"></option>
                            <option th:value="'finished'" th:text="'finished'"></option>
                        </span>
                        <span th:if="${userRequest.status == 'finished'}">
                            <option hidden th:value="'finished'" th:text="'finished'"></option>
                            <option th:value="'created'" th:text="'created'"></option>
                            <option th:value="'available'" th:text="'available'"></option>
                            <option th:value="'paid'" th:text="'paid'"></option>
                        </span>

                    </select>
                    <input type="hidden" th:value="${userRequest.login}" name="login">
                    <input type="hidden" th:value="${userRequest.cruiseName}" name="cruiseName">
                    <input type="hidden" th:value="${userRequest.countPeople}" name="countPeople">
                    <input type="hidden" th:value="${userRequest.price}" name="price">
                    <input type="hidden" th:value="${userRequest.createTime}" name="createTime">
                    <button class="btn-primary" type="submit">Update</button>
                </form>
            </td>
            <td><span th:text="${userRequest.createTime}"></span></td>
            <td>
                <form th:method="POST" th:action="@{/requests/delete}">
                    <input type="hidden" th:value="${userRequest.login}" name="login">
                    <input type="hidden" th:value="${userRequest.cruiseName}" name="cruiseName">
                    <input type="hidden" th:value="${userRequest.countPeople}" name="countPeople">
                    <input type="hidden" th:value="${userRequest.price}" name="price">
                    <input type="hidden" th:value="${userRequest.status}" name="status">
                    <input type="hidden" th:value="${userRequest.createTime}" name="createTime">
                    <button class="btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>