<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Liners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <ul class="nav nav-pills">
                <h5>|Cruise|</h5>
                <li class="nav-item"><a th:href="@{/}" class="nav-link" aria-current="page" th:text="#{main.button.home}"></a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link" th:text="#{main.button.contacts}"></a></li>
                <li class="nav-item"><a th:href="@{/catalog/1?sorting=standard}" class="nav-link" th:text="#{main.button.catalog}"></a></li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/profile}" class="nav-link active" th:text="#{main.button.profile}"></a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:value="#{main.button.logout}"/>
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/login}" class="nav-link" th:text="#{main.button.login}"></a></li>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/signup}" class="nav-link" th:text="#{main.button.signup}"></a></li>
                </div>
            </ul>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/profile}" class="nav-link" aria-current="page" th:text="#{profile.button.myProfile}"></a></li>
            <li class="nav-item"><a th:href="@{/requests/1}" class="nav-link" th:text="#{profile.button.requests}"></a></li>
            <div th:if="${#request.userPrincipal.principal.user.role == 'admin'}">
                <li class="nav-item"><a th:href="@{/cruises/1}" class="nav-link" th:text="#{profile.button.cruises}"></a></li>
            </div>
            <div th:if="${#request.userPrincipal.principal.user.role == 'admin'}">
                <li class="nav-item"><a th:href="@{/liners/1}" class="nav-link" th:text="#{profile.button.liners}"></a></li>
            </div>
        </ul>
    </div>
</div>
<div class="container">
    <h6 class="front-weight-bold blue-text">
        <a th:href="@{/liners/createLiner}">
            <strong><span th:text="#{liners.button.createNew}"></span></strong>
        </a>
    </h6>
    <table class="table table-bordered">
        <tr>
            <th th:text="#{liners.label.name}"></th>
            <th th:text="#{liners.label.built}"></th>
            <th th:text="#{liners.label.roomCount}"></th>
            <th th:text="#{liners.label.maxPeople}"></th>
            <th th:text="#{liners.label.class}"></th>
            <th th:text="#{liners.label.roomInnerPrice}"></th>
            <th th:text="#{liners.label.roomWithWindowPrice}"></th>
            <th th:text="#{liners.label.roomWithBalconyPrice}"></th>
            <th th:text="#{liners.label.roomLuxuryPrice}"></th>
            <th th:text="#{liners.label.actions}"></th>
        </tr>
        <tr th:each="liner : ${liners}">
            <td><span th:text="${liner.name}"></span></td>
            <td><span th:text="${liner.built}"></span></td>
            <td><span th:text="${liner.roomCount}"></span></td>
            <td><span th:text="${liner.maxPeople}"></span></td>
            <td><span th:text="${liner.clazz}"></span></td>
            <td><span th:text="${liner.roomInner}"></span></td>
            <td><span th:text="${liner.roomWithWindow}"></span></td>
            <td><span th:text="${liner.roomWithBalcony}"></span></td>
            <td><span th:text="${liner.roomLuxury}"></span></td>
            <td>
                <form th:method="GET" th:action="@{/liners/update}">
                    <input type="hidden" th:value="${liner.name}" name="name">
                    <input type="hidden" th:value="${liner.built}" name="built">
                    <input type="hidden" th:value="${liner.roomCount}" name="roomCount">
                    <input type="hidden" th:value="${liner.maxPeople}" name="maxPeople">
                    <input type="hidden" th:value="${liner.clazz}" name="clazz">
                    <input type="hidden" th:value="${liner.roomInner}" name="roomInner">
                    <input type="hidden" th:value="${liner.roomWithWindow}" name="roomWithWindow">
                    <input type="hidden" th:value="${liner.roomWithBalcony}" name="roomWithBalcony">
                    <input type="hidden" th:value="${liner.roomLuxury}" name="roomLuxury">
                    <button class="btn-primary" type="submit"><span th:text="#{liners.button.update}"></span></button>
                </form>
                <form th:method="POST" th:action="@{/liners/delete}">
                    <input type="hidden" th:value="${liner.name}" name="name">
                    <input type="hidden" th:value="${liner.built}" name="built">
                    <input type="hidden" th:value="${liner.roomCount}" name="roomCount">
                    <input type="hidden" th:value="${liner.maxPeople}" name="maxPeople">
                    <input type="hidden" th:value="${liner.clazz}" name="clazz">
                    <input type="hidden" th:value="${liner.roomInner}" name="roomInner">
                    <input type="hidden" th:value="${liner.roomWithWindow}" name="roomWithWindow">
                    <input type="hidden" th:value="${liner.roomWithBalcony}" name="roomWithBalcony">
                    <input type="hidden" th:value="${liner.roomLuxury}" name="roomLuxury">
                    <button class="btn-primary" type="submit"><span th:text="#{requests.button.delete}"></span></button>
                </form>
            </td>
        </tr>
    </table>
    <nav aria-label="Navigation for requests">
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-1">
                    <a th:if="${currentPage > 1}" th:href="@{'/liners/' + ${currentPage - 1}}"><span th:text="#{catalog.button.previous}"></span></a>
                    <span th:unless="${currentPage == 1}"></span>
                </div>
                <div class="col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/liners/' + ${i}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/liners/' + ${currentPage + 1}}"><span th:text="#{catalog.button.next}"></span></a>
                    <span th:unless="${currentPage < totalPages}"></span>
                </div>
            </div>
        </div>
    </nav>
</div>
<footer class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'ua').toUriString()}" th:text="#{language.label.ukrainian}"></a>
        </li>
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', ' ').toUriString()}" th:text="#{language.label.english}"></a>
        </li>
    </ul>
</footer>
<!-- Footer -->
</body>
</html>