<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <div class="navbar navbar-header">
            <ul class="nav nav-pills">
                <h5>|Cruise|</h5>
                <li class="nav-item"><a th:href="@{/}" class="nav-link" aria-current="page" th:text="#{main.button.home}"></a></li>
                <li class="nav-item"><a th:href="@{/contacts}" class="nav-link" th:text="#{main.button.contacts}"></a></li>
                <li class="nav-item"><a th:href="@{/catalog/1?sorting=standard}" class="nav-link" th:text="#{main.button.catalog}"></a></li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/profile}" class="nav-link" th:text="#{main.button.profile}"></a></li>

                </div>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:value="#{main.button.logout}"/>
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/login}" class="nav-link" th:text="#{main.button.login}"></a></li>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a th:href="@{/signup}" class="nav-link active" th:text="#{main.button.signup}"></a></li>
                </div>
            </ul>
        </div>
    </header>
</div>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="col-lg-8 col-lg-offset-2">
        <h1 class="text-center">Sign up</h1>
        <form th:method="POST" th:action="@{/signup}" th:object="${user}">
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_login"><span th:text="#{signup.label.login}"/></label>
                            <input id="form_login" type="text" th:field="*{login}" class="form-control" required="required"  th:placeholder="#{signup.placeholder.login}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_password"><span th:text="#{signup.label.password}"/></label>
                            <input id="form_password" type="password" th:field="*{password}" class="form-control" required="required" th:placeholder="#{signup.placeholder.password}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name"><span th:text="#{signup.label.firstname}"/></label>
                            <input id="form_name" type="text" th:field="*{firstName}" class="form-control" required="required" th:placeholder="#{signup.placeholder.firstname}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname"><span th:text="#{signup.label.lastname}"/></label>
                            <input id="form_lastname" type="text" th:field="*{lastName}" class="form-control" required="required" th:placeholder="#{signup.placeholder.lastname}">
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email"><span th:text="#{signup.label.email}"/></label>
                            <input id="form_email" type="email" th:field="*{email}" class="form-control" required="required" th:placeholder="#{signup.placeholder.email}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_phone"><span th:text="#{signup.label.phone}"/></label>
                            <input id="form_phone" type="tel" th:field="*{phoneNumber}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <!-- Replace data-sitekey with your own one, generated at https://www.google.com/recaptcha/admin -->
                            <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="submit" value="submit" th:value="#{signup.button.submit}"/>
                    </div>

                </div>

            </div>

        </form>

    </div><!-- /.col-lg-8 col-lg-offset-2 -->


</div> <!-- /.container-->
<footer class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'ua').toUriString()}" th:text="#{language.label.ukrainian}"></a>
        </li>
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', ' ').toUriString()}" th:text="#{language.label.english}"></a>
        </li>
    </ul>
</footer>
<!-- Footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://bootstraptema.ru/snippets/form/2017/recaptcha/validator.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/recaptcha/contact.js"></script>
</body>
</html>